@model connect4Core.Service.IScoreService


@{
    ViewData["Title"] = "Score";
}

<ol>
    @foreach (var score in Model.GetTopScores())
    {
        <li>@score.Player scored @score.Points at @score.PlayedAt.</li>
    }
</ol>
