# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.connect4.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Skola\dotnet-2021\.idea\.idea.connect4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
