# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.dotnet-2021.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Skola\dotnet-2021\.idea\.idea.dotnet-2021.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
